<footer>
    <div class="content">
        <div class="info block">
            <h4>Information</h4>
            <span>Contact Us</span>
            <span>FAQs</span>
            <span>Return & Exchanges</span>
            <span>Shipping & Handling</span>
            <span>Damaged or Defected Items</span>
            <span>Canceling or Changing an Order</span>
            <span>Terms of Service</span>
            <span>Privacy Policy</span>
        </div>
        <div class="company-info block">
            <h4>About Company</h4>
            <span>About Us</span>
            <span>Contacts</span>
            <span>Job offers</span>
            <span>Our Production</span>
            <span>Certificates</span>
            <span>Blog</span>
        </div>
        <div class="collaboration block">
            <h4>Collaboration</h4>
            <span>Corporate clients</span>
            <span>Designers</span>
            <span>Partner Program</span>
        </div>
        <div class="contacts block">
            <h4>Contacts</h4>
            <span>+373(68)888888</span>
            <a href="mailto:dipper200213@gmail.com">test@gmail.com</a>
            <span>
            <img alt="" src="../../assets/contact/vk.png">
            <img alt="" src="../../assets/contact/telegram.png">
            <img alt="" src="../../assets/contact/instagram.png">
            <img alt="" src="../../assets/contact/youtube.png">
            </span>
        </div>
    </div>
</footer>