<app-not-found [visible]="!cloth"
               notFoundMessage="Product Not Found!"
               resetLinkText="Back To Homepage"
/>
<div *ngIf="cloth" class="container">
    <img [src]="cloth.imageUrl" [alt]="cloth.name">
    <div class="details">
        <div class="header">
      <span class="name">
        {{cloth.name}}
      </span>
            <span class="favourite" [ngClass]="{not: cloth.favourite}" >
        ❤
      </span>
        </div>
        <div class="rating">
            <star-rating
                    [value]='cloth.stars'
                    [totalstars]="5"
                    checkedcolor="red"
                    uncheckedcolor="black"
                    size="30px"
                    [readonly]="true">
            </star-rating>
        </div>
        <div class="tags">
            <app-tags [clothePageTags]="cloth.tags" justifyContent="start"></app-tags>
        </div>
        <div class="price">
            <span>{{cloth.price|currency}}</span>
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>
