<div class="container">
  <img [src]="clothes.imageUrl" [alt]="clothes.name">
  <div class="details">
    <div class="header">
      <span class="name">
        {{clothes.name}}
      </span>
      <span class="favourite {{clothes.favourite?'':'not'}}">
        ❤
      </span>
    </div>
    <div class="rating">
      <star-rating
        [value]='clothes.stars'
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="30px"
        [readonly]="true">
      </star-rating>
    </div>
    <div class="tags">
      <app-tags [clothePageTags]="clothes.tags" justifyContent="start"></app-tags>
    </div>
    <div class="price">
      <span>{{clothes.price|currency}}</span>
    </div>
    <button>Add To Cart</button>
  </div>
</div>
