<app-not-found [visible]="!cart || cart.items.length <= 0"
               notFoundMessage="Cart Page is Empty!"
               resetLinkText="Go To Homepage"
/>
<div *ngIf="cart && cart.items.length > 0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items" >
            <div>
                <img [src]="cartItem.cloth.imageUrl" [alt]="cartItem.cloth.name">
            </div>
            <div>
                <a routerLink="/cloth/{{cartItem.cloth.id}}">
                    {{cartItem.cloth.name}}
                </a>
            </div>
            <div>
                <input type="number" min="1" [value]="cartItem.quantity" #quantitySelect (input)="changeQuantity(cartItem, quantitySelect.value)" >
            </div>
            <div>
                {{cartItem.price | currency}}
            </div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="cloths-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice | currency}}</div>
        </div>
    </div>
</div>