.menu {
  padding: .2rem;

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container a{
  text-decoration: none;
  background-color: #f0f0f0;
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: blue;
}

@keyframes animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.active {
  animation: animation 100ms ease-in-out;
}

