/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
*{
  box-sizing: border-box;

}
html{
  font-size: 16px;
}
body{
  margin: 0;
  font-family: "Rubik+Glitch";
  font-size: 18px;
}
a{
  text-decoration: none;
}

